@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgba(0,0,0,.03);
}

.green-gradient {
  background: linear-gradient(0,#00d46a 0,#00d451 100%);
}

@layer components {
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.h2-title {
  color: #00d46a;
}

.app-container {
  background: #f7f7f7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 500px;
}

.checkbox-group {
  flex-direction: row;
  align-items: center;
}

.checkbox-group label {
  font-size: 0.825rem;
  margin-left: 10px;
}

.form-group label {
  color: rgb(60, 182, 81);
  font-weight: 700;
}

.form-group input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: 1px solid #999;
  background-color: #f7f7f7;
  color: #999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: 1px solid 444;
}

.form-group input::placeholder {
  color: #999;
}

.form-group .input-error {
  outline: 1px solid rgb(255, 72, 72);
}

.form-group .error-message {
  color: rgb(255, 72, 72);
  font-size: 0.75rem;
  margin-top: 8px;
}

.form-group select {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f7f7f7;
  color: #999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-group button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #eee;
  background-color: #00d451;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 300ms ease;
}

.form-group button:hover {
  cursor: pointer;
  background-color: #39d487;
}

.agendamento button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #eee;
  background-color: #00d451;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 300ms ease;
}

.agendamento button:hover {
  cursor: pointer;
  background-color: #39d487;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.landing button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #32bb67;
  background-color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 300ms ease;
}